name: PHP Tests

on:
    pull_request:
        paths:
            - '**.php'
    workflow_dispatch:

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                php: ["8.2", "8.1", "8.0", "7.4", "7.3"]
                laravel: [10.*, 9.*, 8.*, 7.*, 6.*]
                dependency-version: [prefer-stable]
                os: [ubuntu-latest]
                include:
                    - laravel: 10.*
                      testbench: 8.*
                    - laravel: 9.*
                      testbench: 7.*
                    - laravel: 8.*
                      testbench: 6.*
                    - laravel: 7.*
                      testbench: 5.*
                    - laravel: 6.*
                      testbench: 4.*
                exclude:
                    - php: 7.3
                      laravel: 9.*
                    - php: 7.3
                      laravel: 10.*
                    - php: 7.4
                      laravel: 9.*
                    - php: 7.4
                      laravel: 10.*
                    - php: 8.0
                      laravel: 10.*
                    - php: 8.1
                      laravel: 6.*
                    - php: 8.1
                      laravel: 7.*
                    - php: 8.2
                      laravel: 6.*
                    - php: 8.2
                      laravel: 7.*


        name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }} - ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Cache dependencies
              uses: actions/cache@v3
              with:
                  path: ~/.composer/cache/files
                  key: dependencies-laravel-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, mysql, mysqli, pdo_mysql, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
                  coverage: none

            - name: Install dependencies
              run: |
                  composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
                  composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction --no-suggest

            - name: Execute tests
              run: vendor/bin/pest
